
body {
  background-color: #ffb300;
}


.headerText {
  color: white;
}

#mainHeaderText {
  font-weight: bolder;
}

#headerSubText {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}



#indexHeader {
  text-shadow: 2px 2px #000;
}

#nav-mobile {
  margin-left: 350px;
  margin-right: auto;
  font-weight: bold;
}

#mainContainer {
  height: 700px;
  width: auto;
  background-image: url(../images/sunset2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75%;
  background-attachment: fixed;
  background-position: bottom;
  z-index: 2;
}

.mainButtons
{
  margin-top: 50px;
}

.introButton {
  width: 150px;
  border-radius: 50px;
}

.infoContainer {
  height: auto;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
}

#sunsetImg {
  width: auto;
  height: 600px;
}

#weather {
  background-color: teal;
  height: 600px;
  width: auto;
  padding-top: 20px;
}

.weatherSubBox {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 500px;
  padding: 20px;
  border-radius: 30px;
}

.infoContainer {
  padding: 20px;
  /*height: 800px;*/
}

.viewingCards {
  width: auto;
  height: 400px;
}

.instagramContainer {
  width:100%;
  padding: 20px;
}

.shopContainer {
  width: 100%;
  height: 700px;
  padding: 20px;
}

.shopItems {
  width: 100% padding: 5px;
}

.donationPannel {
  height: 600px;
}

.dontationButton {
  padding-top: 850px;
}

#donateButton {
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
}

.conservationImage {
  text-align: center;
}

#batOrgImage {
    border-radius: 30px;
  }

  form.signup {
  margin-top: 50px;

/*SHOP CSS*/


/*canvas*/

#canvas {
  position: relative;
  z-index: 0;
}

#mainHeaderText2 {
  margin-left: 330px;
  margin-top: 250px;
  position: absolute;
  z-index: 1;
}

#headerSubText2 {
  position: absolute;
  z-index: 1;
  margin-left: 120px;
  margin-top: 350px;
}

html,body{
  margin: 0;
  padding: 0;
}
